.debtorList-item {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 11px;
  display: flex;
  justify-content: space-between;

  &__debtor-name {
  }

  &__money {
  }

  &__done {
    color: #a4a4a4;
  }
}
