.text-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;

  color: #d4204b;
  font-weight: 400;
  font-size: 20px;
  margin-top: 21px;
  margin-left: 10px;
}
