@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: local("Deutsch Gothic"), local("DeutschGothic-Regular"),
    url(assets/fonts/Proxima-Nova-Regular.otf) format("truetype");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  src: local("Proxima Nova"),
    url(assets/fonts/Proxima-Nova-Bold.otf) format("truetype");
}

@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  src: local("Golos"),
    url(assets/fonts/GolosText-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 500;
  src: local("Golos"), url(assets/fonts/GolosText-Medium.ttf) format("truetype");
}

* {
  font-family: "Proxima Nova";
}

body {
  background-color: #161616;
}
