.header {
  background: #1d1d1d;
  display: flex;
  justify-content: space-between;
  height: 65px;
  min-height: 65px;
  max-height: 65px;
  padding: 0 15px;
  align-items: center;
  box-shadow: (0px 2px 8px rgba(0, 0, 0, 0.18));
  &__title {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    &_red {
      @extend .header__title;
      color: #d4204b;
    }
    &_green {
      @extend .header__title;
      color: #00b83e;
    }
    &_white {
      @extend .header__title;
      color: #ffffff;
      font-size: 20px;
    }
  }
}
