.single-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  margin: 0 -6px;
  height: 65px;
  min-height: 65px;
  max-height: 65px;
  background: #d4204b;
  border: 0;

  color: #ffffff;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
}
